### Isinstance

In [1]:
a = 5
b = 2.5
c = 'poison'
#isinstance(a, int)
isinstance(c, (int, float))

False

## Bytes and Unicode

In [2]:
val = 'español'
val_utf8 = val.encode('utf-8')
print(val_utf8)
print(type(val_utf8))

b'espa\xc3\xb1ol'
<class 'bytes'>

In [3]:
val = val_utf8.decode('utf-8')
val

'español'

## Dates and times

In [4]:
from datetime import datetime, date, time

In [5]:
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.second)

29
21

In [6]:
dt.date()

datetime.date(2011, 10, 29)

In [7]:
print(dt.date())

2011-10-29

In [8]:
# formating datetime as a string
# strftime and strptime
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [9]:
my_date = datetime.strptime('04032021', '%d%m%Y')
my_date

datetime.datetime(2021, 3, 4, 0, 0)

In [10]:
my_date.strftime('%d.%m.%Y')

'04.03.2021'

In [11]:
#timedelta
delta = my_date - dt

In [12]:
type(delta)

datetime.timedelta

# Data structures

## tuples

In [13]:
tup = 7,9,5.6
tup

(7, 9, 5.6)

In [14]:
# tuples are immutable

In [15]:
# concatenating
(8.3, ['ghj', 'jhk'],(3, 5)) + ([6,92, 'foo'], 'upoi')

(8.3, ['ghj', 'jhk'], (3, 5), [6, 92, 'foo'], 'upoi')

In [16]:
a, b, c = tup
a,b

(7, 9)

In [17]:
b, a = a, b
a, b

(9, 7)

In [18]:
#unwanted variables
values = 1,2,3,4,5
a,b,*_ = values
a,b

(1, 2)

## lists

In [19]:
#lists are mutable

In [70]:
color_tup = 'red', 'green', 'black'
color_list = list(color_tup)
color_list

['red', 'green', 'black']

In [71]:
color_list.insert(1, 'yellow')                      #.insert()
color_list

['red', 'yellow', 'green', 'black']

In [72]:
color_list.pop(1)                                    #.pop()
color_list

['red', 'green', 'black']

In [23]:
color_list.append('red')
color_list

['red', 'green', 'black', 'red']

In [24]:
color_list.remove('red')                             #.remove()
color_list

['green', 'black', 'red']

In [25]:
#combining lists
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)                                  #.extend()
list1

[1, 2, 3, 4, 5, 6]

In [26]:
#sorting
sort_list = [8,3,5,2,5,6,2]                          #sort(key = )
sort_list.sort()
sort_list

[2, 2, 3, 5, 5, 6, 8]

In [27]:
color_list.sort(key = len)
color_list

['red', 'green', 'black']

## Binary search and maintaining a sorted list

In [28]:
import bisect

In [29]:
bi_list = [1,2,4,6,7,9]
bisect.bisect(bi_list, 3)                   #finds index of value`s location maintaining list sorted

2

In [30]:
bisect.insort(bi_list, 8)
bi_list                                      # inserts value so that list remains sorted

[1, 2, 4, 6, 7, 8, 9]

## Slicing

In [31]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3] = [6, 3]
seq

[7, 2, 3, [6, 3], 5, 6, 0, 1]

In [32]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [33]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [34]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:4] = [seq[3]] + [6, 3]
seq

[7, 2, 3, 7, 6, 3, 5, 6, 0, 1]

## Sequence functions

### enumerate

#### creates tuples of kind (i, value), keeps track of value`s index

In [35]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### zip

#### pairs up the elements of sequences to create a list of tuples

In [36]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

#### zip can be applied to 'unzip' the sequence

In [37]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [38]:
first_names, last_names

(('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt'))

### revesed

#### reversed iterates over the elements of a sequence in reverse order

In [39]:
iterator = reversed(range(0,10))

In [40]:
list(iterator)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

In [41]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1[5] = 'some_value'
d1['dummy'] = 'another_value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 5: 'some_value',
 'dummy': 'another_value'}

In [42]:
#delete a key with its value from dict
del d1[5]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another_value'}

In [43]:
d1.pop('dummy')                                    #.pop() returns value by key and deletes both from dict

'another_value'

In [44]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [45]:
d1.update({'b' : 'foo', 'c' : 12})                  #.update() merges one dict into another
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [46]:
#creating dict from sequences
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### default values

In [47]:
default_value = 'snus'
value1 = d1.get('a',default_value)
value1

'some value'

In [48]:
value2 = mapping.get('a', default_value)
value2

'snus'

In [49]:
#creating dict by letter of words in list
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [50]:
by_letter ={}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)           #.setdefault()
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [51]:
#another way
from collections import defaultdict
by_letter = defaultdict(list)                               #defaultdict
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### keys of dict must be immutable python objects like tuple

## set

In [52]:
{2,2,4,5,3,4,2,5,6,3,9,4,4,2}

{2, 3, 4, 5, 6, 9}

In [53]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}                                      #set1.union(set2)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}                                      #set1.interection(set2)
a.intersection(b)

{3, 4, 5}

#### Other set operations: Python for Data Analysis, page 66

# Functions

In [55]:
#assigning variable outside of the function requires keyword "global"
def bind_a_variable():
    global a   
    a = []
bind_a_variable()

In [56]:
import re     #regular expressions module
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [57]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()                #.strip() deletes empty space at the beginning and the end
        value = re.sub('[!#?]', '', value)   #re.sub()
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [58]:
#another approach

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [59]:
for x in map(remove_punctuation, states):                     #map()
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

## Lambda functions

#### Instead of assigning a function, it is sometimes more efficient to use lambda function

In [60]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [61]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))          #lambda function as a key in .sort()
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [62]:
f = lambda x,y: x+y
add_five = lambda y: f(5,y)
add_five(8)

13

## Generators

In [63]:
# yield keyword needed
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2                                 

gen = squares()
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### The standard library itertools module has a collection of generators for many common data algorithms.

#### Useful itertools functions: Python for Data Analysis, page 77

## Errors and Exception Handling

In [64]:
# It TRIES to convert value to float

def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [65]:
#If the code in try block succeeds the code in else block executes
#The code in finally block always executes at the end

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined