In [1]:
import pandas as pd;import numpy as np

In [5]:
data = pd.DataFrame({'one': [1, 2, 3, 4, 5],
                     'two': [0.01, -0.01, 0.25, -4.1, 0.],
                     'three': [-1.5, 0., 3.6, 1.3, -2.]})
data

   one   two  three
0    1  0.01   -1.5
1    2 -0.01    0.0
2    3  0.25    3.6
3    4 -4.10    1.3
4    5  0.00   -2.0

In [10]:
df = df.assign(strings=['a', 'b', 'c', 'd', 'e'])
df

   one   two  three strings
0    1  0.01   -1.5       a
1    2 -0.01    0.0       b
2    3  0.25    3.6       c
3    4 -4.10    1.3       d
4    5  0.00   -2.0       e

## Creating Model Descriptions with Patsy